:root{
    --raleway: 'Raleway' ,sans-serif;
    --c-blue: #4D5AE5;
    --c-black: #2E2F42;
    --c-gray: #434455;
    --c-white: #FFFFFF;
    --bgr-white: #FFFFFF;
    --bgr-gray: #434455;
    --bgr-light-blue:#F4F4FD;
    --bgr-blue2:#404BBF;
    --bgr-blue:#4D5AE5;
    --c-border:#6495ed;
    --c-prtf-border:#E7E9FC;
    --bgr-black:#2E2F42;
    --border-c-icon:#8E8F99;
    --c-green-icon:#31D0AA;

    --transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);



}
.list {
    list-style: none;
    text-decoration: none;
    
}

.link {
    
    text-decoration: none;
    font-family: 'Roboto';
    
}
h1,
h2,
h3,
p,
ul{
  margin: 0;
  padding: 0;
}
ul{
    list-style: none;
}


body{

 font-family: 'Roboto',
 sans-serif;
 color: var(--c-black);

}
.container{
    width: 1158px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
    
}
.header-container{
    display: flex;
    

}

.section{
    
   
   padding-bottom: 120px;
   padding-top: 120px;
   
}
.section-border{
    border-bottom: 1px solid var(--c-border);

}
.nav {
    display: flex;
    flex-grow: 1;
    align-items: center ;
    gap: 76px;
}

.new-logo{
    color: var(--c-black);
}
.logo{
    font-family: var(--raleway);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        color:var(--c-blue);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
       
}


.header-list{
    position: relative;
    
    display: flex;
    padding: 24px 0;
    gap: 40px;
   
    
}

.header{
    border: 1px solid var(--c-prtf-border);
}


.header-link{
    position: relative;
    padding: 24px 0;


    font-weight: 500;
    font-size:16px;
    line-height: 1.28;
    letter-spacing: 0.02em;
    color: var(--c-black) ; 

}
.current{
    color:var(--c-blue);
}

.header-link.current::after {
    position: absolute;
    bottom: 0;



    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background-color: currentColor;
    border-radius: 2px;

}


.header-link:hover ,
.header-link:focus{
   color: var(--c-blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}


        
        

      
        





.address{
       
}
.adress-link{
        font-style: normal;
        font-size: 16px;
        line-height: 1.28;
        letter-spacing: 0.02em;
        color: var(--c-gray)
    }

.adress-link:hover,
.adress-link:focus{
    color: var(--c-blue);
    transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}






/* --------------Hero------------------------ */







.hero{





    max-width: 1440px;
    padding-bottom: 188px;
    padding-top: 188px;
    margin:0 auto;
    background-image: linear-gradient(0deg,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
        
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
   
}


.hero-text{
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
    
   


    font-size : 56px; 
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--c-white)

    
}
.hero-button{
    


    
     display: block;
     padding: 16px 32px;
     margin: 0 auto;
            
            

    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--c-blue); 
    color: var(--c-white);
    border: 1px solid var(--bgr-blue);
    border-radius: 4px;
    
    
}


.hero-button:hover,
.hero-button:focus{
    background-color:var(--bgr-blue2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);   
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}






/* -----------------About-section--------------------- */





.about-section{
        padding-bottom: 0;


        font-size: 20px;
        line-height: 1.2;
        color: var(--c-black)
        
}
.hide{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}


.icons-about-list{
    display: flex;
    
    gap: 24px;
   
}

.about-list {
    display: flex;
    
    gap: 24px;   
}
.icons-about-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;

    border-radius: 4px;
    background-color: var(--bgr-light-blue);
}
    



.icons-about-link{
    display: flex;
    align-items: center;
        justify-content: center;
    
    width: 100%;
    height: 100%;
    
}
.about-svg{
    display: block;
    width: 64px;
    height: 64px;
    
}


.about-list-item {
    flex-basis: calc((100% - 72px) / 4);
}

.about-list-title {
       margin-bottom: 8px;
       margin-top: 8px;
    



        font-size: 20px;
        line-height:1.2;
        letter-spacing: 0.02em;
        color: var(--c-black);
}

.about-list-text {
    
       


        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--c-black)
}
/* -------work-section-------------- */
.work-section {}




.work-title {
        margin-bottom: 72px;
        display: block;
        text-align: center;
        


        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--c-black)
}

.work-list {
    display: flex;
    gap: 24px;
    
}

.work-list-item {
    
    flex-basis: calc((100% - 48px) / 3);
    
    
}

.work-list-photo {
    display: block;
    max-width: 100%;
    height: auto;
}


/* ----------------------our-team-------------------- */






.our-team{
    background-color:var(--bgr-light-blue)
}


.team-title {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px;


        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--c-black)
}

.team-list {
    display: flex;
    gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
    
    
    
    
    
}

.team-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
   
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}
.icon-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 50%;
    background-color: var(--c-blue);
    width: 40px;
    height: 40px;
    
}

.social-link:hover,
.social-link:focus{
    background-color: var(--bgr-blue2);
    transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




.team-photo {
    
}
.team-top{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-name {
        margin-bottom: 8px;
        
        
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--c-black);
}

.team-list-text {
        margin-bottom: 8px;

       
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--c-gray);
}

.socials-icon{
    width: 16px;
    height: 16px;
    fill: currentColor;
    display: block;
    

    
}

.social-link {
    color: var(--c-white);
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    width: 100%;
    height: 100%;
    
}

.icon-list-social{
    flex-basis: calc((100% - 72px) / 4);
        text-align: center;
        border-radius: 50%;
        background-color: var(--bgr-gray);


    
     
}
/*----------Customers-----------------------------
-------------------------------------------------- */

.customers-section{
    padding-top: 130px;
}

.customers-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 70px;
   

}
.customers-link {
  color: var(--border-c-icon);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-c-icon);
        border-radius: 4px;
    
}
.customers-link:hover,
.customers-link:focus{
    border: 1px solid var(--bgr-blue2);
    color: var(--bgr-blue2);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-item {
   width: 168px;
   height: 88px;
    
}

.customers-text{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
      
    
        text-align: center;
        letter-spacing: 0.02em;

        color: var(--bgr-black);
        display: block;
       margin-left: auto;
       margin-right: auto;
}

.customers-svg {
    fill: currentColor;
    display: block;
    width: 104px;
    height: 56px;

    
}



/* --------------------------FOOTER--------------------- */


.footer {
    background-color: var(--bgr-black);


    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container{
    display: flex;
}
    

   

.footer-logo{
        
        

        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        color: var(--c-white)
}
.footer-text{

    max-width: 264px;
    margin-top: 16px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--c-white)
}

.footer-list{
    display: flex;
    gap: 24px;
    
}




.socials-footer {
    width: 24px;
    height: 24px;
    fill: currentColor;
    display: block;
   
    
}
.social-media{
    margin-left: 120px;
}
.social-link-footer{

    color: var(--c-white);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        
}
.social-text{
    margin-bottom: 16px;


    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--c-white)
}

.icon-list-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        
        border-radius: 50%;
        background-color: var(--bgr-gray);

        width: 40px;
        height: 40px;
       
}
.social-link-footer:hover,
.social-link-footer:focus{
    background-color: var(--c-green-icon);
    transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    
.logo-link{
    display: block;
    height: 22px;
}


/* ----------------------PORTFOLIO----------------------------------
 */

 
 .portfolio-title {}

 .porfolio-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;


 }
 .portfolio-section{
    padding-top: 96px;
 }
 

 .portfolio-btn-item {

    
 }



 .portfolio-btn-item:hover,
 .portfolio-btn-item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            
 }

 .portfolio-btn {

        padding: 12px 24px;
        text-align: center;
        



        font-family: 'Roboto';
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: var(--c-blue);
            cursor: pointer;
            background: var(--bgr-light-blue)
 }



 .portfolio-btn:hover,
 .portfolio-btn:focus{
    
    color: var(--c-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background: var(--bgr-blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


 .portfolio-cards-list {

    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    
 }

 .cards-item {
    
    flex-basis: calc( ( 100% - 48px ) / 3 );
    cursor: pointer;
    


  }  

  .cards-item:hover{
    
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
   .cards{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-bottom: 1px solid var(--c-prtf-border);
    border-left: 1px solid var(--c-prtf-border);
    border-right: 1px solid var(--c-prtf-border);
    
    
   }
 

 .cards-photo {
        
        display: block;
        height: auto;
 }
.cards-image{
    position: relative;
    overflow: hidden;
}


 .cards-description{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);


    width: 360px;
    height: 300px;
    text-align: center;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;

    transition-property: (transform, transition-duration, transition-timing-function) ;
    background-color: var(--bgr-blue);
 }

 .cards-item:hover .cards-description{
    transform: translateY(0);
    transition-duration: 250ms ;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

.description-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--c-white);
    
}




 .cards-title {
        
        margin-bottom: 8px;
        
        


    
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--c-black)
 }

 .cards-text {
        margin: 0 auto;
        
        



        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--c-gray);
 }


 .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    
 }
 .modal{
    position: relative;
    width: 100%; 
    height: 100%;
    max-width: 408px;
    max-height: 576px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
     
    transition-duration: var(--transition);
    
    border-radius: 4px;
    background-color: var(--bgr-white);
 }
 .modal-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition-property: background-color,
        var(--transition);
    transition-duration: var(--transition);
    
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--c-prtf-border);
    
 }
 .modal-close:hover{
    cursor: pointer;
    background-color: var(--bgr-light-blue);
    
 }
 
 .modal-svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
   width: 8px;
   height: 8px;
   
    transition: fill var(--transition);
    fill: var(--c-black);
 }
 .backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;

    pointer-events: none;
 }
